@using ABC.Shared.Models
@page "/Shop"

<link href="Shop.razor.css" rel="stylesheet" />

<PageTitle>Shop</PageTitle>

<section class="container mt-5 mb-5 FooterminHeight">
	<div class="row justify-content-end">
		<!-- Dropdown for filtering by category -->
		<div class="col-lg-4">
			<div class="input-group">
				<select name="categoryFilter" class="form-select" id="inputCategory">
					<option value="">Filter by category</option>

					@if (Categories != null && Categories.Any())
					{
						foreach (var category in Categories)
						{
							<option value="@category.Id">@category.Name</option>
						}
					}
					else
					{
						<option disabled>No other categories were found</option>
					}
				</select>
				<div class="input-group-append">
					<button type="submit" class="btn">
						Apply
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row my-5 mx-auto">
		<div class="col-md-3 mb-3">
			<div class="card mx-auto">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 mb-3">
			<div class="card mx-auto">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-3">
			<div class="card mx-auto">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-3">
			<div class="card mx-auto">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>


		<!-- Working somehow but the product doesnt show, maybe because there's no product data? -->
		@* @if (Products != null && Products.Any())
		{
			@foreach (var product in Products)
			{
				<div class="col-md-3 mb-3">
					<div class="card mx-auto">
						<img src="@product.ImageUrl" class="card-img-top">
						<div class="card-body d-flex flex-column">
							<h3 class="card-title mb-5">@product.productName</h3>
							<div class="d-flex justify-content-between">
								<p class="card-text mb-0 fw-bold">Php @product.RetailPrice</p>
								<p class="card-text mb-0">@product.StockQuantity</p>
							</div>
						</div>
					</div>
				</div>
			}
		} else
		{
			<p>No products to show</p>
		} *@

	</div>
</section>

<script src="/js/searchshop.js"></script>

@code{
	private List<Product> Products { get; set; } = new();
	private List<Category> Categories { get; set; } = new();


	protected override void OnInitialized(){

	}
}