@using ABC.Shared.Models
@page "/Shop"

<link href="Shop.razor.css" rel="stylesheet" />

<PageTitle>Shop</PageTitle>

<section class="container mt-5 mb-5 FooterminHeight">
	<div class="row justify-content-end">
		<!-- Dropdown for filtering by category -->
		<div class="col-4">
			<div class="input-group">
				<select name="categoryFilter" class="form-select" id="inputCategory">
					<option value="">Filter by category</option>
					@*
					@foreach (var category in ViewBag.Categories)
					{
					<option value="@category.Id">@category.Name</option>
					}*@
				</select>
				<div class="input-group-append">
					<button type="submit" class="btn">
						Apply
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row my-5 mx-auto">
		<div class="col-md-3 mb-3">
			<div class="card mx-auto" style="width: 100%;">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-3">
			<div class="card mx-auto" style="width: 100%;">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-3">
			<div class="card mx-auto" style="width: 100%;">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-3">
			<div class="card mx-auto" style="width: 100%;">
				<img src="/Image/sample.png" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title mb-5">Product Name</h3>
					<div class="d-flex justify-content-between">
						<p class="card-text mb-0 fw-bold">Php</p>
						<p class="card-text mb-0">Quantity</p>
					</div>
				</div>
			</div>
		</div>
		@*
		@foreach (var product in Model)
		{
		<div class="col-3">
		<div class="row p-2">
		<div class="col-12">

		<!--Card-->
		<div class="card border-0 mb-3 p-3 border-top border-5 shadow rounded" width="25%">
		<div class="d-flex justify-content-center">
		<img src="@product.ImageUrl" class="card-img-top rounded" style="max-width: 200px; max-height: 200px;" />
		</div>

		<div class="card-body pb-0" style="height: 150px;">
		<h6 class="card-title text-dark opacity-75 text-uppercase text-center">@product.productName</h6>
		<h6 class="card-title text-warning text-center">@product.Brand</h6>
		<h6 class="card-title text-secondary text-center">Stock: @product.StockQuantity</h6>
		</div>

		<div class="pl-1">
		<p class="text-dark text-opacity-75 text-center">
		Price: <span>@product.RetailPrice.ToString("c", new CultureInfo("en-PH"))</span>
		</p>
		</div>
		<div>
		<a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
		Details
		</a>
		</div>
		</div>

		</div>
		</div>
		</div>
		} *@
	</div>
</section>



<script src="/js/searchshop.js"></script>