@using ABC.Shared.Models
@using System.Globalization;
@using Layout

@page "/InventoryReport"
@layout AdminLayout
@rendermode InteractiveServer

<PageTitle>ABC - Inventory Report</PageTitle>

<AuthorizeView Roles="Admin" Context="innerContext">
    <section class="container pt-2 pb-5">
        <!--TITLE-->
        <div class="row pb-1">
            <div class="col-8">
                <h1>Inventory Report</h1>
            </div>
            <!-- Export Button -->
            <div class="col-4 button">
                <a class="btn btn-success" id="btngenerate" @onclick="GeneratePdf">
                    <i class="bi bi-box-arrow-up"></i> Export
                </a>
            </div>
        </div>
        <!--Breadcrumb-->
        <div class="row pb-3">
            <div class="col-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="SalesReport">Sales Report</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Inventory Report</li>
                    </ol>
                </nav>
            </div>
            <div class="col-4 ">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" class="form-control" id="startDate" @bind="startDate" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="date" class="form-control" id="endDate" @bind="endDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row first">
            <div class="smallbox">
                <div class="row">
                    <h5>Total Inventory Value</h5>
                    <h1>@totalInventoryValue.ToString("C", new CultureInfo("en-PH"))</h1>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome Business</h6>
                        <h5>@AddsomeInventoryValue.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadBizInventoryValue.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
            <div class="smallbox">
                <div class="row">
                    <h5>Total Available Stock</h5>
                    <h1>@totalAvailableQuantity</h1>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome Business</h6>
                        <h5>@AddsomeAvailableQuantity</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadAvailableQuantity</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row second">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Retail Price</th>
                        <th scope="col" class="text-center">Addsome Stock Qty</th>
                        <th scope="col" class="text-center">Ahead Stock Qty</th>
                        <th scope="col" class="text-center">Total Stock</th>
                        <th scope="col" class="text-center">Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Products != null && Products.Any())
                    {
                        foreach (var product in Products)
                        {
                            <tr>
                                <td>@product.Product.Id</td>
                                <td>@product.Product.productName</td>
                                <td>@product.Product.CostPrice.ToString("C", new CultureInfo("en-PH"))</td>
                                <td>@product.Product.RetailPrice.ToString("C", new CultureInfo("en-PH"))</td>
                                <td class="text-center">@product.Product.StockPerStore.Store1StockQty</td>
                                <td class="text-center">@product.Product.StockPerStore.Store2StockQty</td>
                                <td class="text-center">@product.Product.StockPerStore.TotalStocks</td>
                                <td class="text-center">@FormatCurrency(product.Product.CostPrice * product.Product.StockPerStore.TotalStocks)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>

    <script>
        window.BlazorDownloadFile = (fileName, content) => {
            const link = document.createElement('a');
            link.href = 'data:application/pdf;base64,' + content;
            link.download = fileName;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>
</AuthorizeView>

