@using ABC.Shared.Models.ViewModels
@using Layout
@using System.Globalization;

@page "/ManageOrderABC"
@layout AdminLayout
@rendermode InteractiveServer


<PageTitle>ABC - Manage Orders</PageTitle>

<div class="container pt-2 pb-5">
    <div class="row pb-2">
        <!-- Title -->
        <div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
            <h1 style="color: #223442;"><b>Order List</b></h1>
        </div>

        <!-- Export Button -->
        <div class="col-lg-4 col-sm-12 text-end">
            <a href="#" class="btn btn-success">
                <i class="bi bi-box-arrow-up"></i> Export
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-between pb-3 pt-2">
        <span></span>

        <div class="list-group list-group-horizontal-sm">
            <button type="button" class="list-group-item @all" @onclick="@(() => SetActiveStatus("all"))">All</button>
            <button type="button" class="list-group-item @pending" @onclick="@(() => SetActiveStatus("pending"))">To Process</button>
            <button type="button" class="list-group-item @inprocess" @onclick="@(() => SetActiveStatus("inprocess"))">Processing</button>
            <button type="button" class="list-group-item @shipped" @onclick="@(() => SetActiveStatus("shipped"))">Out for Delivery</button>
            <button type="button" class="list-group-item @cancelled" @onclick="@(() => SetActiveStatus("cancelled"))">Cancelled</button>
            <button type="button" class="list-group-item @completed" @onclick="@(() => SetActiveStatus("completed"))">Completed</button>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>

        @if (OrderHeader.Count > 0)
        {
            @foreach (var order in OrderHeader)
            {
                <tr>
                    <th scope="row"> @order.Id </th>
                    <td> @order.ApplicationUser?.FirstName </td>
                    <td> @($"{@order.ApplicationUser?.PhoneNumber ?? "---"}") </td>
                    <td> @order.ApplicationUser?.Email </td>
					<td> @($"{order.ApplicationUser?.Address ?? "---"}, {order.ApplicationUser?.City ?? "---"}, {order.ApplicationUser?.Province ?? "---"}")</td>
                    <td class="text-end"> @order.OrderStatus </td>
                    <td class="text-end"> @order.OrderTotal.ToString("C", new CultureInfo("en-PH")) </td>
                    <td class="text-end d-flex justify-content-around">
                        <a class="a-style-none" href="OrderDetails?id=@order.Id">
                            <i class="bi bi-pencil-square text-primary cursor-pointer" title="Process" tabindex="0"></i>
                        </a>
                    </td>
                </tr>
            }

            @for (var i = 0; i < 10 - OrderHeader.Count; i++)
            {
                <tr>
                    <th scope="row"> - </th>
                    <td> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                </tr>
            }
        }
        else
        {
            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    <th scope="row"> - </th>
                    <td> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                    <td class="text-end"> - </td>
                </tr>
            }
        }
    </table>
</div>