@using ABC.Shared.Models.ViewModels
@using Layout
@using System.Globalization;

@page "/ManageOrderABC"
@layout AdminLayout
@rendermode InteractiveServer


<PageTitle>ABC - Manage Orders</PageTitle>

<div class="container pt-2 pb-5">
    <div class="row pb-2">
        <!-- Title -->
        <div class="title col-lg-8 col-sm-12">
            <h1>Manage Orders</h1>
        </div>
    </div>

    <div class="d-flex justify-content-between pb-3 pt-2">
        <span></span>

        <div class="list-group list-group-horizontal-sm">
            <button type="button" class="list-group-item @all" @onclick="@(() => SetActiveStatus("all"))">All</button>
            <button type="button" class="list-group-item @pending" @onclick="@(() => SetActiveStatus("pending"))">To Process</button>
            <button type="button" class="list-group-item @inprocess" @onclick="@(() => SetActiveStatus("inprocess"))">Processing</button>
            <button type="button" class="list-group-item @shipped" @onclick="@(() => SetActiveStatus("shipped"))">Out for Delivery</button>
            <button type="button" class="list-group-item @cancelled" @onclick="@(() => SetActiveStatus("cancelled"))">Cancelled</button>
            <button type="button" class="list-group-item @completed" @onclick="@(() => SetActiveStatus("completed"))">Completed</button>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th class="text-center">Payment Mode</th>
                <th class="text-center">Status</th>
                <th class="text-center">Total</th>
                <th></th>
            </tr>
        </thead>

        @if (OrderHeader.Count > 0)
        {
            @foreach (var order in OrderHeader.OrderByDescending(o => o.Id))
            {
                <tr>
                    <th scope="row"> @order.Id </th>
                    <td> @(order.ApplicationUser != null ? $"{order.ApplicationUser.FirstName} {order.ApplicationUser.LastName}" : $"{order.Customer.FirstName} {order.Customer.LastName}") </td>
                    <td> @(order.ApplicationUser != null ? $"{order.ApplicationUser.PhoneNumber}" : $"{order.Customer.ContactNumber.ToString() ?? "---"}") </td>
                    <td> @(order.ApplicationUser != null ? $"{order.ApplicationUser.Address}, {order.ApplicationUser.City}, {order.ApplicationUser.Province}" : $"{order.Customer.ApSuUn}, {order.Customer.City}, {order.Customer.Province}") </td>
                    <td class="text-center"> @order.PaymentMode</td>
                    <td class="text-center"> @order.OrderStatus </td>
                    <td class="text-center"> @order.OrderTotal.ToString("C", new CultureInfo("en-PH")) </td>
                    <td class="text-center d-flex justify-content-around">
                        <a class="a-style-none" href="OrderDetails?id=@order.Id">
                            <i class="bi bi-pencil-square text-primary cursor-pointer" title="Process" tabindex="0"></i>
                        </a>
                    </td>
                </tr>
            }

            @for (var i = 0; i < 10 - OrderHeader.Count; i++)
            {
                <tr>
                    <th scope="row"> - </th>
                    <td> - </td>
                    <td class="text-start"> - </td>
                    <td class="text-start"> - </td>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                </tr>
            }
        }
        else
        {
            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    <th scope="row"> - </th>
                    <td> - </td>
                    <td class="text-start"> - </td>
                    <td class="text-start"> - </td>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                </tr>
            }
        }
    </table>
</div>