@using ABC.Shared.Models.ViewModels
@using ABC.Shared.Utility;
@using Layout
@using System.Globalization;

@page "/MyOrder"
@rendermode InteractiveServer

<PageTitle>ABC - Order Details</PageTitle>

<input asp-for="OrderHeader.Id" hidden />
<br />
<div class="container mb-5">
	<div class="row pb-2">
		<!-- Title -->
		<div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
			<h1><b>Order Details</b></h1>
		</div>

		@if (orderHeader.OrderStatus == SD.StatusCompleted)
		{
			<div class="col-lg-4 col-sm-12 text-end mb-3 mb-sm-0">
				<h2>
					<span class="badge @(orderHeader.OrderStatus == "Completed" ? "bg-success" :
											orderHeader.OrderStatus == "Pending" ? "bg-warning text-dark" :
											orderHeader.OrderStatus == "Processing" ? "bg-info" :
											orderHeader.OrderStatus == "Out for Delivery" ? "bg-primary" :
											orderHeader.OrderStatus == "Cancelled" ? "bg-danger" :
											"bg-secondary")">
						@orderHeader.OrderStatus
					</span>
				</h2>
			</div>
		}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/MyOrders">List of Orders</a></li>
				<li class="breadcrumb-item active" aria-current="page">Order Details</li>
			</ol>
		</nav>
	</div>


	<EditForm Model="orderHeader" OnValidSubmit="SaveOrder">
		<DataAnnotationsValidator />
		<div class="card">
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">Delivery Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									<input readonly type="text" @bind-value="firstName" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Email Address</div>
								<div class="col-9">
									<input @bind-value="email" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">
									<input readonly @bind-value="phoneNumber" type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								<div class="col-9">
									<input readonly @bind-value="lineAddress" type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Province</div>
								<div class="col-9">
									<input readonly @bind-value="province" type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Postal Code</div>
								<div class="col-9">
									<input readonly @bind-value="zipCode" type="text" class="form-control" />
								</div>
							</div>

							<div class="row my-1">
								<div class="col-3">Order Date</div>
								<div class="col-9">
									<input @bind-value="orderHeader.OrderDate" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Delivery Date</div>
								<div class="col-9">
									<input @bind-value="orderHeader.ShippingDate" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Payment Status</div>
								<div class="col-9">
									<input @bind-value="orderHeader.PaymentStatus" readonly type="text" class="form-control" />
								</div>
							</div>
							@if (orderHeader.OrderStatus == SD.StatusShipped || orderHeader.OrderStatus == SD.StatusCompleted)
							{
								<div class="row my-1">
									<div class="col-3">Delivery Personnel</div>
									<div class="col-9">
										<input asp-for="orderHeader.Carrier" id="carrier" type="text" class="form-control" readonly />
									</div>
								</div>
							}
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Orders:</span>
							</h4>

							<div class="row my-1">
								@foreach (var item in orderDetailsList)
								{
									<div class="list-group">
											<li class="list-group-item d-flex justify-content-between align-items-center">
												<div class="row">
													<div class="col-3">
														<img src="@item.Product.ImageUrl" class="rounded" width="100%" />
													</div>
													<div class="col-5">
														<h6 class="my-0">@item.Product.productName</h6>
														<small class="text-muted">Quantity: @item.Count</small>
													</div>
													<div class="col-4 text-end">
														<span class="text-muted"><b>@("\u20B1" + (item.Product.RetailPrice * item.Count).ToString("#,###.00"))</b></span>
													</div>
												</div>
											</li>
									</div>
								}
							</div>
						</div>
					</div>
				</div>

				@if (orderHeader.OrderStatus != SD.StatusCancelled)

				{
					<!--CANCEL ORDER-->
					<button type="button" class="btn btn-danger form-control my-1" data-bs-toggle="modal" data-bs-target="#confirmationModal">Cancel Order</button>

					<!-- Confirmation Modal -->
					<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="confirmationModal">Cancel Order</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-center">
									Are you sure you want to cancel this order?
									<p>This action is irreversible!</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="CancelOrder">Proceed</button>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</EditForm>
</div>