@using ABC.Shared.Models
@using ABC.Shared.Models.ViewModels
@page "/CartIndex"

<PageTitle>ABC - Shopping Cart</PageTitle>

<section class="container mt-3 mb-3 FooterminHeight">
	<div class="row pt-2 pb-4" id="topbar">
		<!-- Title -->
		<div class="col-lg-8  text-start mb-3 mb-sm-0">
			<h1 class="text">Shopping Cart</h1>
		</div>
	</div>

	<form>
		@if (shoppingCartList != null && shoppingCartList.Any())
		{
			@foreach (var item in shoppingCartList)
			{
				<div class="row border-bottom pb-3">
					<div class="d-none d-lg-block col-lg-1 text-center py-2">
						<img src="@item.Product.ImageUrl" class="rounded" width="100%" />
					</div>

					<div class="col-12 col-lg-6 pt-md-3">
						<h3 class="text-uppercase"><strong>@item.Product.productName</strong></h3>
						<p><b>Php @item.Product.RetailPrice</b></p>
					</div>

					<div class="col-12  col-lg-5 text-center row">
						<div class="col-3 text-md-right pt-2 pt-md-4">
							<h5 class="fw-semibold">
								Qty: @item.Quantity
							</h5>
						</div>

						<div class="col-3 col-sm-4 col-lg-6 pt-2">

							<button class="btn btn-warning me-md-2" type="edit" id="@item.Id">
								<i class="bi bi-pencil-square"></i>
							</button>

							<button class="btn btn-danger" type="remove" id="@item.Id">
								<i class="bi bi-x-square"></i>
							</button>

						</div>
					</div>
				</div>
			}
		}

		<div class="col-12 col-md-4 pb-1 mr-md-2 my-4 mx-auto">
			<button type="submit" class="btn btn-success bg-gradient w-100 py-2 text-uppercase fw-semibold">
				Checkout
			</button>
		</div>
	</form>
</section>
