@using ABC.Shared.Models
@using ABC.Shared.Utility
@using Layout
@page "/ProducReturnstList"
@layout AdminLayout

@rendermode InteractiveServer

<PageTitle>ABC - Refunded/Replaced Products</PageTitle>

<div class="container pt-2 pb-5">
	<div class="row pb-4">
		<!-- Title -->
		<div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
			<h1 style="color: #223442;"><b>Return/Replaced List</b></h1>
		</div>
	</div>


	<div class="row">
		<h3>Orders:</h3>
	</div>

	<div>
		@if (orderDetailsList != null)
		{
			foreach (var item in orderDetailsList)
			{
				if (item.Remark != null && item.status != false)
				{
					<div class="list-group">

						<li class="list-group-item">
							<div class="row">
								<div class="col-3">
									<img src="@item.Product.ImageUrl" class="rounded" width="100%" />
								</div>
								<div class="col-5">
									<h6 class="my-0">@item.Product.productName</h6>
									<small class="text-muted">Quantity: @item.Count</small>
								</div>
								<div class="col-4 text-end">
									<span class="text-muted"><b>@("\u20B1" + (item.Product.RetailPrice * item.Count).ToString("#,###.00"))</b></span><br />
									<button type="button" class="btn btn-sm btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#refundModal" @onclick='() => PopulateOrder(item.Id)'>Merge</button>	
								</div>
									<br /><label class="text-danger">Reason For Refund</label>
									<p>@item.Remark</p>
							</div>

						</li>
					</div>
				}
			}
		}
	</div>
</div>


<!-- REFUND Modal -->
<div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered draggable">
		<div class="modal-content">

			<div class="modal-header bg-primary text-white">
				<h5 class="modal-title" id="uploadModalLabel">Merge</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<label class="form-label h6">Are you sure you want to merge the item back to inventory?</label>
				<span class="d-block mb-3 h5">@prodName</span>

				<!-- Quantity Selector -->
				<div class="mb-3">
					<label for="quantity" class="form-label h6">Quantity:</label>
					<input type="number" id="quantity" class="form-control" min="1" max="@selectedOrder.remarkQty" @bind="selectedOrder.remarkQty">
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" @onclick="Merge" data-bs-dismiss="modal">Merge</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$(".draggable").draggable();
	});
</script>