@using ABC.Shared.Models
@using Layout
@using System.Globalization
@page "/PurchaseOrdersList"
@layout AdminLayout

@rendermode InteractiveServer

<PageTitle>ABC - Purchase Orders</PageTitle>

<section class="container pt-2 pb-5">
    <div class="row pb-4">
        <!-- Title -->
        <div class="col-8">
            <h1>Purchase Orders</h1>
        </div>

        <!-- Export Button -->
        <div class="col-lg-4 col-sm-4 text-end mb-3 mb-sm-0">
            <a href="/PurchaseOrder" class="btn btn-primary">
                Create Purchase Order
            </a>
        </div>
    </div>


    <table id="tblpurchaseOrderData" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Supplier</th>
                <th>Deliver to</th>
                <th>Payment Term</th>
                <th>Delivery Date</th>
                <th>Total</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (purchaseOrders.Count > 0 && purchaseOrders.Any())
            {
                @foreach (var purchase in purchaseOrders)
                {
                    <tr>
                        <th scope="row">@purchase.Id</th>
                        <td>@($"{purchase.Supplier?.supplierCompanyName ?? "Error"}")</td>
                        <td>@($"{purchase.Store?.storeName ?? "Error"}")</td>
                        <td>@purchase.PaymentTerm</td>
                        <td>@purchase.DeliveryDate</td>
                        <td>@purchase.OrderTotal.ToString("C", new CultureInfo("en-PH"))</td>
                        <td>@purchase.Status</td>
                        <td>
                            <a class="a-style-none" href="PurchaseOrder?Id=@purchase.Id">
                                <i class="bi bi-pencil-square text-primary cursor-pointer" tabindex="0"></i>
                            </a>
                            <i class="bi bi-x-square text-danger cursor-pointer" title="Remove Item"
                               tabindex="0" data-bs-toggle="modal" data-bs-target="#removePurchaseOrder" @onclick="() => PopulatePO_Details(purchase.Id)">
                            </i>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>


<!-- Remove -->
<div class="modal fade mt-4" id="removePurchaseOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-dark">
                <h5 class="modal-title" id="exampleModalLabel">Remove Purchase Order</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 text-center">
                    <span class="fw-bold">Are you sure you want to delete this purchase order form?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick='Remove'>Confirm Removal</button>
            </div>
        </div>
    </div>
</div>
