@page "/SalesReport"

@using ABC.Shared.Models
@using System.Globalization
@using Layout

@layout AdminLayout

<PageTitle>ABC - Sales Report</PageTitle>

<AuthorizeView Roles="Admin" Context="innerContext">
    <section class="container pt-2 pb-5">
        <!--TITLE-->
        <div class="row pb-1">
            <div class="col-8">
                <h1>Sales Report</h1>
            </div>
            <!-- Export Button -->
            <div class="col-4 button">
                <a class="btn btn-success" id="btngenerate">
                    <i class="bi bi-box-arrow-up"></i> Export
                </a>
            </div>
        </div>
        <!--Breadcrumb-->
        <div class="row date">
            <div class="col-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="InventoryReport">Inventory Report</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sales Report</li>
                    </ol>
                </nav>
            </div>
            <div class="col-4 ">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="startDate"><b>Start Date</b></label>
                            <input type="date" class="form-control" id="startDate" @bind="startDate" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="endDate"><b>End Date</b></label>
                            <input type="date" class="form-control" id="endDate" @bind="endDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row first">
            <div class="smallbox">
                <div class="row">
                    <h6>Gross Sales</h6>
                    <h1>@totalSales.ToString("C", new CultureInfo("en-PH"))</h1>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome Business</h6>
                        <h5>@AddsomeSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
            <div class="smallbox">
                <div class="row">
                    <h6>Gross Profit</h6>
                    <h1>@grossProfit.ToString("C", new CultureInfo("en-PH"))</h1>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome Business</h6>
                        <h5>@AddsomeProfit.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadBizProfit.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row first">
            <div class="smallbox">
                <div class="row">
                    <h6>Walkin Sales</h6>
                    <h4>@WalkInSales.ToString("C", new CultureInfo("en-PH"))</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome </h6>
                        <h5>@AddsomeWalkInSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadWalkInSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
            <div class="smallbox">
                <div class="row">
                    <h6>On-Call Sales</h6>
                    <h4>@OnCallSales.ToString("C", new CultureInfo("en-PH"))</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome </h6>
                        <h5>@AddsomeOnCallSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadOnCallSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
            <div class="smallbox">
                <div class="row">
                    <h6>Chat-based Sales</h6>
                    <h4>@ChatBasedSales.ToString("C", new CultureInfo("en-PH"))</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome </h6>
                        <h5>@AddsomeChatBasedSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadChatBasedSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
            <div class="smallbox">
                <div class="row">
                    <h6>Shopping Website Sales</h6>
                    <h4>@ShoppingWebsiteSales.ToString("C", new CultureInfo("en-PH"))</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Addsome </h6>
                        <h5>@AddsomeShoppingWebsiteSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                    <div class="col-6">
                        <h6>Ahead Biz</h6>
                        <h5>@AheadShoppingWebsiteSales.ToString("C", new CultureInfo("en-PH"))</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row second">
            <div class="row pb-2">
                <h3>Top Selling Products</h3>
            </div>
            <hr />
            <div class="row mx-auto">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Cost Price</th>
                            <th scope="col">Retail Price</th>
                            <th scope="col" class="text-center">Qty Sold</th>
                            <th scope="col" class="text-center">Total Cost</th>
                            <th scope="col" class="text-center">Total Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Products != null && Products.Any())
                        {
                            foreach (var order in Products)
                            {
                                <tr>
                                    <td>@order.Product.productName</td>
                                    <td>@order.CostPrice.ToString("C", new CultureInfo("en-PH"))</td>
                                    <td>@order.RetailPrice.ToString("C", new CultureInfo("en-PH"))</td>
                                    <td class="text-center">@order.Count</td>
                                    <td class="text-center">@FormatCurrency(order.Count * order.CostPrice)</td>
                                    <td class="text-center">@FormatCurrency(order.Count * order.RetailPrice)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</AuthorizeView>