@page "/SalesReport"

@using ABC.Shared.Models
@using System.Globalization
@using Layout

@layout AdminLayout

<PageTitle>ABC - Sales Report</PageTitle>

<div class="container-fluid pt-2 pb-5">
    <!--TITLE-->
    <div class="row pb-1">
        <div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
            <h1 style="color: #223442;"><b>Sales Report</b></h1>
        </div>
        <!-- Export Button -->
        <div class="col-lg-4 col-sm-4 mb-3 mb-sm-0 text-end">
            <a href="#" class="btn btn-success" id="btngenerate">
                <i class="bi bi-box-arrow-up"></i> Export
            </a>
        </div>
    </div>
    <!--Breadcrumb-->
    <div class="row pb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Sales Report</li>
                <li class="breadcrumb-item"><a href="InventoryReport">Inventory Report</a></li>
            </ol>
        </nav>
    </div>
    <div class="row pt-1 pb-2">
        <div class="col-4">
            <div class="smallbox">
                <p>Total Sales</p>
                <h2>
                    <strong>@totalSales.ToString("C", new CultureInfo("en-PH")) </strong>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="smallbox">
                <p>Gross Profit</p>
                <h2>
                    <strong>@grossProfit.ToString("C", new CultureInfo("en-PH")) </strong>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="smallbox">
                <p>Products Sold</p>
                <h2>
                    <strong>@products_Sold</strong>
                </h2>
            </div>
        </div>
    </div>

    <div class="row pt-3 pb-2">
        <div class="col-7">
            <div class="border p-3 container shadow">
                <!--Title-->
                <div class="row pb-2">
                    <h4 style="color: #223442;">Sales per Sales Channel</h4>
                    <hr />
                </div>
                <div class="pb-3">
                    <canvas id="salesChart" walkin="@walkinSales" oncall="@oncallSales" chat="@chatSales" shopweb="@shopWebSales"></canvas>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="border p-3 container shadow">
                <!-- Title -->
                <div class="row">
                    <h4 style="color: #223442;">Best Selling Items</h4>
                    <hr />
                </div>
                @if (bestSellingProducts != null && bestSellingProducts.Any())
                {
                    <ul>
                        @foreach (var product in bestSellingProducts)
                        {
                            <li>@product.Key - Quantity Sold: @product.Value</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No best-selling products found.</p>
                }
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="/js/saleschart.js"></script>