@using ABC.Shared.Models.ViewModels
@using Layout
@page "/ManageOrderABC"
@layout AdminLayout


<PageTitle>ABC - Manage Orders</PageTitle>

@{
    //var status = Context.Request.Query["status"];

    var shipped = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    /*switch (status)
    {
        case "shipped": shipped = "active text-white bg-primary"; break;
        case "inprocess": inprocess = "active text-white bg-primary"; break;
        case "completed": completed = "active text-white bg-primary"; break;
        case "approved": approved = "active text-white bg-primary"; break;
        case "all": all = "active text-white bg-primary"; break;

        default: all = "active text-white bg-primary"; break;
    }*/

} 

<div class="container pt-2 pb-5">
    <div class="row pb-2">
        <!-- Title -->
        <div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
            <h1 style="color: #223442;"><b>Order List</b></h1>
        </div>

        <!-- Export Button -->
        <div class="col-lg-4 col-sm-12 text-end">
            <a href="#" class="btn btn-success">
                <i class="bi bi-box-arrow-up"></i> Export
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-between pb-3 pt-2">
        <span></span>

        <ul class="list-group list-group-horizontal-sm">

            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="shipped">
            <li class="list-group-item @shipped">Out for Delivery</li>
            </a>

            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
            <li class="list-group-item @approved">To Process</li>
            </a>

            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
            <li class="list-group-item @inprocess">Processing</li>
            </a>

            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
            <li class="list-group-item @completed">Completed</li>
            </a>

            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
            <li class="list-group-item @all">All</li>
            </a>
        </ul>

    </div>

    <table id="tblData" class="table table-bordered table-striped table-hover " action="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script src="/js/order.js"></script>

@code {
    private List<OrderVM> OrderVMs { get; set; }


    /* OrderController.cs
    [Area("Admin")]
    [Authorize]
	public class OrderController : Controller
	{
		private readonly IUnitOfWork _unitOfWork;

        [BindProperty]
        public OrderVM OrderVM { get; set; }

        public OrderController(IUnitOfWork unitOfWork)
        {
			_unitOfWork = unitOfWork;
		}

        public IActionResult Index()
		{
			return View();
		}

        public IActionResult Details(int orderId)
        {
            OrderVM = new()
            {
                OrderHeader = _unitOfWork.OrderHeader.Get(u => u.Id == orderId, includeProperties: "ApplicationUser"),
                OrderDetail = _unitOfWork.OrderDetail.GetAll(u => u.OrderHeaderId == orderId, includeProperties: "Product")
            };
            return View(OrderVM);
        }


        [HttpPost]
        [Authorize(Roles = SD.Role_Admin + "," + SD.Role_Employee)]
        public IActionResult UpdateOrderDetail(int orderId)
        {
			//Retrieve OrderHeader from DB
			var orderHeaderFromb = _unitOfWork.OrderHeader.Get(u => u.Id == OrderVM.OrderHeader.Id);

            orderHeaderFromb.Name = OrderVM.OrderHeader.Name;
            orderHeaderFromb.PhoneNumber = OrderVM.OrderHeader.PhoneNumber;
            orderHeaderFromb.StreetName = OrderVM.OrderHeader.StreetName;
            orderHeaderFromb.City = OrderVM.OrderHeader.City;
            orderHeaderFromb.Province = OrderVM.OrderHeader.Province;
            orderHeaderFromb.Barangay = OrderVM.OrderHeader.Barangay;
            orderHeaderFromb.PostalCode = OrderVM.OrderHeader.PostalCode;

            if (!string.IsNullOrEmpty(OrderVM.OrderHeader.Carrier))
            {
                orderHeaderFromb.Carrier = OrderVM.OrderHeader.Carrier;
            }

            if (!string.IsNullOrEmpty(OrderVM.OrderHeader.TrackingNumber))
            {
                orderHeaderFromb.Carrier = OrderVM.OrderHeader.TrackingNumber;
            }

            _unitOfWork.OrderHeader.Update(orderHeaderFromb);
            _unitOfWork.Save();

            TempData["toastAdd"] = "Order Details Updated Succesfully";

            return RedirectToAction(nameof(Details), new {orderId = orderHeaderFromb.Id});
        }


        [HttpPost]
        [Authorize(Roles = SD.Role_Admin + "," + SD.Role_Employee)]
        public IActionResult StartProcessing(int orderId)
        {
            _unitOfWork.OrderHeader.UpdateStatus(OrderVM.OrderHeader.Id, SD.StatusProcessing);
            _unitOfWork.Save();
            TempData["toastAdd"] = "Order Details Updated Succesfully";
            return RedirectToAction(nameof(Details), new { orderId = OrderVM.OrderHeader.Id });
        }


		[HttpPost]
		[Authorize(Roles = SD.Role_Admin + "," + SD.Role_Employee)]
		public IActionResult ShipOrder(int orderId)
		{
            //Retrieve OrderHeader from DB
			var orderHeader = _unitOfWork.OrderHeader.Get(u => u.Id == OrderVM.OrderHeader.Id);

			orderHeader.TrackingNumber = OrderVM.OrderHeader.TrackingNumber;
			orderHeader.Carrier = OrderVM.OrderHeader.Carrier;
			orderHeader.OrderStatus = SD.StatusShipped;
			orderHeader.ShippingDate = DateTime.Now;
            orderHeader.OrderStatus = SD.StatusShipped;

			_unitOfWork.OrderHeader.Update(orderHeader);
            _unitOfWork.Save();
			TempData["toastAdd"] = "Order Out for Delivery!";
			return RedirectToAction(nameof(Details), new { orderId = OrderVM.OrderHeader.Id });
		}


		[HttpPost]
		[Authorize(Roles = SD.Role_Admin + "," + SD.Role_Employee)]
		public IActionResult CancelOrder(int orderId)
        {
			//Retrieve OrderHeader from DB
			var orderHeader = _unitOfWork.OrderHeader.Get(u => u.Id == OrderVM.OrderHeader.Id);

			_unitOfWork.OrderHeader.UpdateStatus(orderHeader.Id, SD.StatusCancelled, SD.StatusCancelled);
			_unitOfWork.Save();
			TempData["toastAdd"] = "Order Cancelled Succesfully";
			return RedirectToAction(nameof(Details), new { orderId = OrderVM.OrderHeader.Id });
		}




		[ActionName("Details")]
        [HttpPost]
		public IActionResult Details_PAID(int orderId)
        {
			//Retrieve OrderHeader from DB
			var orderHeader = _unitOfWork.OrderHeader.Get(u => u.Id == OrderVM.OrderHeader.Id);

			_unitOfWork.OrderHeader.UpdateStatus(orderHeader.Id, SD.StatusCompleted, SD.PaymentStatusApproved);
			_unitOfWork.Save();
			TempData["toastAdd"] = "Order Delivered Succesfully";
			return RedirectToAction(nameof(Index), new { orderId = OrderVM.OrderHeader.Id });

		}


		#region API CALLS
		[HttpGet]
		public IActionResult GetAll(string status)
		{
            IEnumerable<OrderHeader> objOrderHeaders;

            if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
            {
                objOrderHeaders = _unitOfWork.OrderHeader.GetAll(includeProperties: "ApplicationUser").ToList();
            }
            else
            {
                var claimsIdentity = (ClaimsIdentity)User.Identity;
                var userId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;

                objOrderHeaders = _unitOfWork.OrderHeader.GetAll(u => u.ApplicationUserId == userId, includeProperties: "ApplicationUser");
            }

            switch (status)
            {
                
                case "inprocess":
                    objOrderHeaders = objOrderHeaders.Where(u => u.OrderStatus== SD.StatusProcessing);
                    break;
				case "shipped":
					objOrderHeaders = objOrderHeaders.Where(u => u.OrderStatus == SD.StatusShipped);
					break;
				case "completed":
                    objOrderHeaders = objOrderHeaders.Where(u => u.OrderStatus == SD.StatusCompleted);
                    break;
                case "approved":
                    objOrderHeaders = objOrderHeaders.Where(u => u.OrderStatus == SD.StatusApproved);
                    break;
                default:
                    break;
            }




            return Json(new { data = objOrderHeaders });
		}
		#endregion
	}
    */
}