@using ABC.Shared.Models
@using Layout
@page "/ProductPDF"
@layout AdminLayout

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>PrintProducts</title>
	<link rel="stylesheet" href="~/css/productpdf.css" />
</head>
<body>

	<div class="contenedor">

		<table style="width:100%">
			<tr>
				<td>
					<img src="~/image/logoabc.png" style="width: 200px;height:120px" />
				</td>
				<td style="text-align:right">
					<table style="margin-right:0;margin-left:auto">
						<tr><td><p class="title2">@DateTime.Now.ToString("yyyy-MM-dd HH:mm")</p></td></tr>
						<tr><td></td></tr>
					</table>
				</td>
			</tr>
		</table>
		<br />
		<table style="width:100%">
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<p class="title">Addsome Shop</p>
							</td>
						</tr>
						<tr>
							<td><p class="text">Address: Street:  Greenhills</p></td>
						</tr>
						<tr>
							<td>
								<p class="text">Email: support@addsome.com</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br />
		<br />

		<table class="tbproductos" style="width:100%">
			<thead>
				<tr>
					<th class="tbth">Product</th>
					<th class="tbth" style="width:130px">Quantity</th>
					<th class="tbth" style="width:130px">Price</th>
					<th class="tbth" style="width:130px">Total</th>
				</tr>
			</thead>
			<tbody>
				@{
					double total = 0; // Initialize total variable

					@*foreach (var item in Model)
					{
						<tr>
							<td class="td-item"><p class="item">@item.productName</p></td>
							<td class="td-item"><p class="item">@item.StockQuantity</p></td>
							<td class="td-item"><p class="item">PHP @item.RetailPrice</p></td>
							<td style="background-color:#EDF6F9"><p class="item">PHP @((item.RetailPrice * item.StockQuantity).ToString("c"))</p></td>
						</tr>

						// Update total for each item
						total += item.RetailPrice * item.StockQuantity;
					}*@
				}

				<tr>
					<td colspan="2" rowspan="3">
					</td>
					<td class="td-item">
						<p class="item-2">Total</p>
					</td>
					<td class="item-3">
						<p>PHP @total.ToString("c")</p>
					</td>
				</tr>
			</tbody>

		</table>

	</div>

</body>
</html>

