@page "/Dashboard"

@using ABC.Shared.Models
@using Layout
@layout AdminLayout

<PageTitle>ABC - Dashboard</PageTitle>

<div class="container pt-1 pb-5 min-height">
    <div class="row pt-1 pb-4">
        <div class="col-lg-6 col-sm-12 text-start mb-3 mb-sm-0">
            <h1 style="color: #223442;"><b>Dashboard</b></h1>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner px-3">
                    <h1>
                        <b>@totalcustomers</b>
                    </h1>

                    <p>No. of Customers</p>
                </div>

                <a class="small-box-footer" href="CustomerIndex">More info</a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner px-3">
                    <h1>
                        <b>@unprocessedOrders</b>
                    </h1>
                    <p>Orders to Process</p>
                </div>

                <a class="small-box-footer" href="ManageOrderABC">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner px-3">
                    <h1>
						<b>@ordersoutfordelivery</b>
                    </h1>

                    <p>Orders to Deliver</p>
                </div>

                <a class="small-box-footer" href="ManageOrderABC">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner px-3">
                    <h1>
                        <b>@cancelledOrders</b>
                    </h1>

                    <p>Cancelled Orders</p>
                </div>

                <a class="small-box-footer" href="ManageOrderABC">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="row pt-2 pb-2">
        <div class="col-9">
            <div class="border p-3 pb-5 container shadow">
                <!--Title-->
                <div class="pb-2">
                    <h4 style="color: #223442;"><b>Sales Overview</b></h4>
                    <hr />
                </div>
                <div class="pb-0">
                    <canvas id="myChart" salesrevenue="@salesRevenue" costpricetotal="@totalCost"></canvas>
                </div>

                @* <div class="row pt-2 px-3">
                    <div class="col-6">
                        <div class="salesbox">
                            <p>Addsome Business Corporation</p>
                            <h5 style="color: #223442;"><b></b></h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="salesbox">
                            <p>Ahead Biz Computers</p>
                            <h5 style="color: #223442;"><b></b></h5>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
        <div class="col-3">
            <div class="border p-3 pb-5 container shadow">
                <!--Title-->
                <div class="pb-2">
                    <h4 class="col-3" style="color: #223442;"><b>Inventory </b> </h4>
                    <hr />
                </div>
                <div class="row col-10 mx-auto py-2">
                    <div class="small-box bg-info">
                        <div class="inner px-3">
                            <h2>
                                @totalProducts
                            </h2>
                            <p>Product Count</p>
                        </div>
                    </div>
                </div>

                <div class="row col-10 mx-auto py-2">
                    <div class="small-box bg-success">
                        <div class="inner px-3">
                            <h2>
                                @instock
                            </h2>
                            <p>In Stock Products</p>
                        </div>
                    </div>
                </div>

                <div class="row col-10 mx-auto py-2">
                    <div class="small-box bg-warning ">
                        <div class="inner px-3">
                            <h2>
                                @lowstock
                            </h2>

                            <p>Low Stock Products</p>
                        </div>
                    </div>
                </div>

                <div class="row col-10 mx-auto py-2">
                    <div class="small-box bg-danger">
                        <div class="inner px-3">
                            <h2>
                                @outofstock
                            </h2>

                            <p>Out of Stock Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-4">
        <div>
            <div class="border p-3 container shadow">
                <!-- Title -->
                <div class="pb-2">
                    <h4 style="color: #223442;"><b>Best Selling Items</b></h4>
                    <hr/>
                </div>
                <table class="table table-hover scrollable-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (BestSellingProducts != null && BestSellingProducts.Any())
                        {
                            foreach (var orderDetail in BestSellingProducts.Take(10))
                            {
                                <th>@orderDetail.Id</th>
                                <td>@orderDetail.productName</td>
                                <td>@orderDetail.RetailPrice</td>
                                <td></td>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="/js/dashboard.js"></script>
