@using ABC.Shared.Models
@using ABC.Shared.Utility
@using Layout
@using System.Globalization

@page "/StockTransferList"
@layout AdminLayout
@rendermode InteractiveServer

<PageTitle>ABC - Stock Transfers</PageTitle>

<section class="container pt-2 pb-5">
    <div class="row pb-4">
        <!-- Title -->
        <div class="col-8">
            <h1>Stock Transfers</h1>
        </div>
        <div class="col-lg-4 col-sm-4 text-end mb-3 mb-sm-0">
            <a href="/StockTransfer" class="btn btn-primary">
                Trasfer Stock
            </a>
        </div>
    </div>


    <table id="tblstockTransferData" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                <th>Supplier</th>
                <th>Deliver to</th>
                <th>Payment Term</th>
                <th>Delivery Date</th>
                <th>Total</th>
                <th>Created By</th>
                <th class="text-center">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (stockTransfers.Count > 0 && stockTransfers.Any())
            {
                @foreach (var transfer in stockTransfers)
                {
                    <tr>
                        <th scope="row">@transfer.Id</th>
                        <td>@transfer.TransferCreationDate</td>
                        <td>@($"{transfer.SourceStore?.storeName ?? "Error"}")</td>
                        <td>@($"{transfer.DestinationStore?.storeName ?? "Error"}")</td>
                        <td>@transfer.TransferDate</td>
                        <td>@transfer.TransferTotal.ToString("C", new CultureInfo("en-PH"))</td>
                        <td>@($"{transfer.applicationUser.FirstName} {transfer.applicationUser.LastName}")</td>
                        <td class="text-center">
                            @if (transfer.Status != SD.PO_Pending)
                            {
                                @transfer.Status
                            }
                            else
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary btn-sm">@transfer.Status</button>
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">@transfer.Status</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="() => UpdateStatusModalHandler(SD.StatusTransferCompleted, transfer.Id)">@SD.StatusTransferCompleted</button></li>
                                        <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="() => UpdateStatusModalHandler(SD.StatusTransferRejected, transfer.Id)">@SD.StatusTransferRejected</button></li>
                                    </ul>
                                </div>
                            }

                        </td>
                        <td>
                            <a href="StockTransfer?id=@transfer.Id" class="a-style-none">
                                <i class="bi bi-eye-fill text-primary cursor-pointer" title="View" tabindex="0"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Change the status from <b>Pending</b> to <b>@newStatus</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="UpdateStatusHandler" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
